<script type="text/javascript">
	window.collex.pageName = '<%= @site_section %>';
	window.collex.currentUserId = '<%= get_curr_user_id %>';
	window.collex.isAdmin = <%= is_admin? %>;
	window.collex.isBibliographer = <%= is_bibliographer? %>;
	window.collex.isScholar = <%= is_scholar? %>;
	window.collex.hasTypewright = <%= COLLEX_PLUGINS['typewright'].present? %>;
	window.collex.myCollexUrl = '<%= MY_COLLEX_URL %>';
	window.collex.hasFuzzySearch = <%= HAS_FUZZY %>;
	window.collex.hasLanguage = <%= HAS_LANGUAGE %>;
	window.collex.hasManyRoles = <%= HAS_MANY_ROLES %>;
	window.collex.hasPageSearch = <%= PAGE_LEVEL_SEARCH %>;
	window.collex.facetNames = {
		access: {
			fulltext: "Full Text Only",
			ocr: "Ocr Only",
			freeculture: "Free Culture Only",
			typewright: "Typewright Enabled Only"
		},
		archives: <%= raw(@archives.to_json) %>
	};
	window.collex.images = {
		spinner: '<%= image_path(PROGRESS_SPINNER_PATH) %>',
		federationThumbnail: '<%= image_path(DEFAULT_THUMBNAIL_IMAGE_PATH) %>',
		spinnerTimeout: '<%= image_path(SPINNER_TIMEOUT_PATH) %>',
		arrow_open: '<%= image_path('arrow.gif') %>',
		arrow_close: '<%= image_path('arrow_dn.gif') %>'
	};
	window.collex.defaultFederation = '<%= Setup.default_federation() %>';
</script>

<P> Contribute test page </p>